body {
    margin: 0;
    background-color: #1B1E24;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
}

nav {
    background-color: #121418;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

#logo {
    height: 60px;
}

#user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile-pic {
    border-radius: 100%;
    background-color: #00C39A;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.8rem;
}

main {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.1rem;
    box-sizing: border-box;
}

#welcome-box {
    padding: 0  4rem 0 1.1rem;
    margin-bottom: 1.8rem;
}

#welcome-box h1 {
    font-size:  1rem;
}

#welcome-box p {
    font-size: 0.8rem;
    font-weight: 200;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btn-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-text-container p {
    margin-bottom: 0%;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: auto;
    min-width: 100px;
}

.img-box img {
    height: 100px;
}

.btn {
    display: flex;
    height: 100%;
    padding: 1.1rem 1.1rem 1.1rem 1.1rem;
    border-radius: 1.25rem;
    margin: 0 0 2rem 0;
}

.btn-header {
    color: black;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.btn-description {
    color: black;
    font-size: 0.9rem;
}

.resource-btn {
    background-color: white;
}

.open-bar-btn {
    background-color: #00C39A;
}

.front-end-btn {
    background-color: #C89AFF;
}

.back-end-btn {
    background-color: #50A2FF;
}

.ui-ux-btn {
    background-color: #FCC699;
}

#resource-box {
    text-align: center;
    margin-bottom: 2.2rem;
}

#resource-box h1 {
    font-size: 2rem;
}

#resource-box p {
    font-weight: 200;
}

.owner-text {
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}

.resource-header-image {
    height: 150px;
}

.back-link-box {
    margin-right: auto;
    text-align: left;
}

.back-link-box a {
    color: white;
}

/* File button and pop up */

.submit-resource-button {
    position: fixed;
    top:90%;
    left: 80%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition-duration: 1s;
    background-image: url('/assets/images/Plus.png');
    background-size: contain;
}

.inactive-link {
    pointer-events: none;
    cursor: pointer;
}

.rotate-and-hide {
    transform: rotate(90deg);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

form{
    visibility: hidden;
    position:fixed;
    top: 10rem;
    left:10%;
    display: flex;
    flex-direction: column;
    color: white;
    width: 70%;
    margin: auto;
    background-color:  #343842;
    padding: 15px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    gap: 5px;
}

#newRes {
    border-radius: 13px;
}

#newRes h2 {
    text-align: center;
}

.formShow{
    visibility: visible;
}
#main{
    transition: opacity 1s;
}

.fade{
    opacity: 20%;
}

form textarea, form input, form button {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    border-radius: 13px;
    padding: 0.8rem;
    border: 0px;
    background-color: #1B1E24;
    margin-bottom: 0.6rem;
    color: white;
    font-size: 16px;
}

form textarea {
    height: 50px;
}

form input {
    height: 20px;
}

#form-cancel-button {
    margin-top: 1.1rem;
    background-color: #666371;
}

#form-cancel-button:hover {
    background-color: #4d4b55;
}

#form-submit-button {
    background-color: #8F77D8;
}

#form-submit-button:hover {
    background-color: #625291;
}
